#set( $MyName="Aric Sanders")
#-----------------------------------------------------------------------------
# Name:        ${Name}
# Purpose:    
# Author:      ${MyName}
# Created:     ${DATE}
# License:     MIT License
#-----------------------------------------------------------------------------
""" Module Docstring """
#-----------------------------------------------------------------------------
# Standard Imports

#-----------------------------------------------------------------------------
# Third Party Imports

#-----------------------------------------------------------------------------
# Module Constants

#-----------------------------------------------------------------------------
# Module Functions

#-----------------------------------------------------------------------------
# Module Classes

#-----------------------------------------------------------------------------
# Module Scripts

#-----------------------------------------------------------------------------
# Module Runner
if __name__=='__main__':
    pass
    